node-version=22
pnpm-version=9
strict-peer-dependencies=false
auto-install-peers=true
shamefully-hoist=true
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*next*
public-hoist-pattern[]=*react*
public-hoist-pattern[]=pdfjs-dist
optional=true